{% load bootstrap5 %}
<div class="card my-4 col-12 col-md-6">
    
    <div class="card-header d-flex justify-content-between">
        <div>
            {% if post.user.profile_image %}
            <img src="{{ post.user.profile_image.url }}" alt="" class="rounded-circle" width="30px">    
            {% else %}
            <img src="/media/profile/default.jpeg" alt="" class="rounded-circle" width="30px">    
            {% endif %}
            <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">
                {{ post.user }}
            </a>
        </div>
        <div>
            {{ post.created_at|timesince }}
        </div>
    </div>
    
    <img src="{{ post.image.url }}" alt="">
    <div class="card-body">
        
        {% if user in post.like_users.all %}
        <i class="bi bi-suit-heart-fill heart" style="color:red" data-post-id="{{post.id}}">{{ post.like_users.all|length }}</i>
        {% else %}
        <i class="bi bi-suit-heart heart" data-post-id="{{post.id}}">{{ post.like_users.all|length }}</i>
        {% endif %}
        명이 좋아합니다. 
        <p class="card-text">{{ post.content }}</p>
    </div>

    {% for comment in post.comment_set.all %}
    <div class="alert alert-light">
        {{ comment.user }} : {{ comment.content }}
        {% if user == comment.user %}
        
        {% endif %}
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-10">
                {% bootstrap_form form show_label=False %}
            </div>
            <div class="col-2">
                <input type="submit" class="btn btn-primary btn-xs" style="background-color: white; color: blue; border-color: white;">
            </div>
        </div>
    </form>
    {% endif %}
</div>
