{% extends 'base.html' %}



{% block body %}
    <div class="row my-5">
        <div class="col-4">
            <img src="{{ user_info.profile_image.url }}" alt="" class="rounded-circle img-fluid">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-3">{{ user_info }}</div>
                <!-- user: 로그인한 사람 / user_info: 현재 프로필페이지 유저 -->
                {% if user != user_info %}
                <div class="col-4">
                    {% if user in user_info.followers.all %}
                    <a href="{% url 'accounts:follows' username=user_info %}" class="btn btn-primary">팔로잉</a>
                    {% else %}
                    <a href="{% url 'accounts:follows' username=user_info %}" class="btn btn-light">팔로우</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col">게시물 {{ user_info.post_set.all|length }}</div>
                <div class="col">팔로워 {{ user_info.followers.all|length }}</div>
                <div class="col">팔로우 {{ user_info.followings.all|length }}</div>
            </div>
        </div>
    </div>

    <div class="row row-cols-3 my-5">
        {% for post in user_info.post_set.all %}
            <div class="col">
                <div class="card">
                    <img src="{{ post.image.url }}" alt="">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}