{% extends 'base.html' %}



{% block body %}
    <div class="row my-5">
        <div class="col-4">
            <img src="{{ user_info.profile_image.url }}" alt="" class="rounded-circle img-fluid">
        </div>
        <div class="col-8">
            <div class="row">
                {{ user_info }}
                <a href="" class="btn btn-light">follow</a>
            </div>
            <div class="row">
                <div class="col">게시물 {{ user_info.post_set.all|length }}</div>
                <div class="col">팔로워</div>
                <div class="col">팔로우</div>
            </div>
        </div>
    </div>

    <div class="row row-cols-3 my-5">
        {% for post in user_info.post_set.all %}
            <div class="col">
                <div class="card">
                    <img src="{{ post.image.url }}" alt="">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}